[Unit]
Description=NOMAD ZED ROS2 Wrapper (in container)
After=nomad-isaac-ros-container.service
Requires=nomad-isaac-ros-container.service
PartOf=nomad.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=mad
Group=mad
WorkingDirectory=/home/mad/NOMAD
EnvironmentFile=/home/mad/NOMAD/config/nomad.env

ExecStart=/home/mad/NOMAD/scripts/services/zed_wrapper.sh start
ExecStop=/home/mad/NOMAD/scripts/services/zed_wrapper.sh stop

StandardOutput=journal
StandardError=journal
SyslogIdentifier=nomad-zed-wrapper

[Install]
WantedBy=nomad.target
